# Operating System Files

*.DS_Store
Thumbs.db

# Build Files #

bin
target
build/
.gradle

# VScode Project Files #

.classpath
.project
.settings
.vscode/

# IntelliJ IDEA Files #

*.iml
*.ipr
*.iws
*.idea
